.description {
    font-style: italic;
    font-size: 12px;
}

.text-center {
    text-align: center;
}

.dis {
	font-size: 12px;
    position: absolute;
    bottom: 0;
        
}

.registration {
	color: rgb(100, 221, 42);
}