<script type="text/ng-template" id="main.html">
    <widget-row>
        <widget-cell>
            <h2>Infosessions that fit your schedule</h2>
        </widget-cell>
    </widget-row>

    <widget-row>
        <widget-cell>
            <h2>{{data.value.message}}</h2>

            <p ng-repeat="item in validInfoSessions" ng-if="item.date==todaysdate">
                <a href= "{{item.link}}"> {{item.employer}} </a> 
                <widget-icon name="check-empty"></widget-icon>
                <br>
                 
                <span class="description" ng-if="item.beforeCase && !item.afterCase">You can attend this infosession before: {{item.beforeCase}}</span>
                <span class="description" ng-if="item.afterCase && !item.beforeCase">You can attend this infosession after: {{item.afterCase}}</span>
                <span class="description" ng-if="item.afterCase && item.beforeCase">You can attend this infosession between: {{item.afterCase}} and {{item.beforeCase}}</span>
                 
            </p>
        </widget-cell>
    </widget-row>
</script>

<!-- Menu template -->
<script type="text/ng-template" id="widgetMenu.html">
    <li>
        <a>
            Menu button            
        </a>
    </li>
</script>