<script type="text/ng-template" id="main.html">
    <widget-row>
        <widget-cell>
            <h2>Infosessions that fit your schedule</h2>
        </widget-cell>
    </widget-row>

    <widget-row>
        <widget-cell>
            <h2>{{data.value.message}}</h2>

            <p ng-repeat="item in mydata" ng-if="item.date==todaysdate"> <a href= "{{item.link}}"> {{item.employer}} </a> </p>
        </widget-cell>
    </widget-row>
</script>

<!-- Menu template -->
<script type="text/ng-template" id="widgetMenu.html">
    <li>
        <a>
            Menu button            
        </a>
    </li>
</script>