<script type="text/ng-template" id="main.html">
    <widget-row>
        <widget-cell>
            <h2>Infosessions that fit your schedule</h2>
        </widget-cell>
    </widget-row>

    <widget-row>
        <widget-cell>
            <h2>{{data.value.message}}</h2>

            <p ng-repeat="item in validInfoSessions" ng-if="item.date==todaysdate">
                <a href= "{{item.link}}"> {{item.employer}} </a>                 
                <span ng-if="item.beforeCase && !item.afterCase">BEFORE CASE: {{item.beforeCase}}</span>
                <span ng-if="item.afterCase && !item.beforeCase">AFTER CASE: {{item.afterCase}}</span>
                <span ng-if="item.afterCase && item.beforeCase">MIDDLE CASE: {{item.afterCase}}-{{item.beforeCase}}</span>
            </p>
        </widget-cell>
    </widget-row>
</script>

<!-- Menu template -->
<script type="text/ng-template" id="widgetMenu.html">
    <li>
        <a>
            Menu button            
        </a>
    </li>
</script>